@{
    var isAdmin = User.IsInRole("Admin");
    var isGestor = User.IsInRole("Gestor");
    var isCliente = User.IsInRole("Cliente");
}

@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>ToDo</title>
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />
    <link href="~/css/styles.css" rel="stylesheet" />
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
</head>

<body class="sb-nav-fixed">
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
        <!-- Sidebar Toggle-->
        <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0 ms-3" id="sidebarToggle" href="#!">
            <i class="fas fa-bars"></i>
        </button>
        <!-- Navbar Brand-->
        <a class="navbar-brand ps-3 ms-0" href="/Home/Index"><b>TO-DO LIST</b></a>
        <!-- Navbar Search-->
        <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
        </form>
        <!-- Navbar-->
        <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
            @if (User.Identity.IsAuthenticated)
            {
                <li class="nav-item">
                    <a class="nav-link" href="/Home/Perfil">
                        <i class="fas fa-user fa-fw"></i> Perfil
                    </a>
                </li>
            }
            <partial name="_LoginParcial" />
        </ul>
    </nav>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">
                        <div class="sb-sidenav-menu-heading">Principal</div>
                        @if (isAdmin || isGestor)
                        {
                            <a class="nav-link" href="/Admin/Dashboard">
                                <div class="sb-nav-link-icon"><i class="fas fa-chart-line"></i></div>
                                Dashboard
                            </a>
                            <a class="nav-link" href="/Admin/GerirUtilizadores">
                                <div class="sb-nav-link-icon"><i class="fas fa-users-cog"></i></div>
                                Gerir Utilizadores
                            </a>
                            <a asp-controller="Tarefas" asp-action="Index" class="nav-link ">
                                <div class="sb-nav-link-icon"><i class="fas fa-tasks"></i></div>
                                Visualizar Tarefas
                            </a>
                            <a class="nav-link" href="/Tarefas/Create">
                                <div class="sb-nav-link-icon"><i class="fas fa-plus"></i></div>
                                Criar Tarefa
                            </a>
                            <a asp-controller="Historico" asp-action="Index" class="nav-link ">
                                <div class="sb-nav-link-icon"><i class="fas fa-history"></i></div>
                                Histórico de Tarefas
                            </a>
                            <a asp-controller="Categorias" asp-action="Index" class="nav-link ">
                                <div class="sb-nav-link-icon"><i class="fas fa-tags"></i></div>
                                Categorias
                            </a>
                        }
                        @if (isCliente)
                        {
                            <a asp-controller="Tarefas" asp-action="Index" class="nav-link ">
                                <div class="sb-nav-link-icon"><i class="fas fa-tasks"></i></div>
                                Visualizar Tarefas
                            </a>
                            <a class="nav-link" href="/Tarefas/Create">
                                <div class="sb-nav-link-icon"><i class="fas fa-plus"></i></div>
                                Criar Tarefa
                            </a>
                            <a asp-controller="Historico" asp-action="Index" class="nav-link ">
                                <div class="sb-nav-link-icon"><i class="fas fa-history"></i></div>
                                Histórico de Tarefas
                            </a>
                            <a asp-controller="Categorias" asp-action="Index" class="nav-link ">
                                <div class="sb-nav-link-icon"><i class="fas fa-tags"></i></div>
                                Categorias
                            </a>
                        }

                    </div>
                </div>
                <div class="sb-sidenav-footer">
                    @if (User.Identity.IsAuthenticated)
                    {
                        var primeiroNome = User?.Claims.FirstOrDefault(c => c.Type == "PrimeiroNome")?.Value;
                        var apelido = User?.Claims.FirstOrDefault(c => c.Type == "Apelido")?.Value;
                        <div class="small">Logado como:</div>
                        @($"{primeiroNome} {apelido}")
                    }
                    else
                    {
                        <div class="small">Não está logado.</div>
                    }
                </div>
            </nav>
        </div>
        <div id="layoutSidenav_content">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
            <footer class="py-4 bg-light mt-auto">
                <div class="container-fluid px-4">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">Copyright &copy; ToDo List 24/25</div>
                        <div>
                            <a asp-controller="Home" asp-action="Privacy">Política de Privacidade</a>
                            &middot;
                            <a asp-controller="Home" asp-action="Termos">Termos de Uso</a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
            crossorigin="anonymous"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/datatable.js"></script>
    <script src="~/js/scripts.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js"
            crossorigin="anonymous"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
