@using ToDo.ViewModels;
@model MudarPasswordViewModel;

@{
    ViewData["Title"] = "Mudar Password";
    Layout = "~/Views/Shared/_ContaLayout.cshtml";
}

<div class="account-container">
    <div class="account-box">
        <h2 class="text-center mb-4">Mudar Password</h2>
        <form asp-action="MudarPassword" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-3">
                <label asp-for="Email" class="form-label"></label>
                <input asp-for="Email" class="form-control" readonly/>
            </div>
            <div class="mb-3">
                <label asp-for="NovaPassword" class="form-label"></label>
                <input asp-for="NovaPassword" class="form-control" />
                <span asp-validation-for="NovaPassword" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="ConfirmarNovaPassword" class="form-label"></label>
                <input asp-for="ConfirmarNovaPassword" class="form-control" />
                <span asp-validation-for="ConfirmarNovaPassword" class="text-danger"></span>
            </div>
            <input type="submit" value="Submeter" class="btn btn-success w-100 p-2" />
            <div class="text-center mt-2">
                <a asp-controller="Conta" asp-action="VerificarEmail" class="text-decoration-none mt-3">Voltar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial.cshtml");
    }
}