@using ToDo.ViewModels;
@model RegistoViewModel;

@{
    ViewData["Title"] = "Registar";
    Layout = "~/Views/Shared/_ContaLayout.cshtml";
}

<div class="account-container">
    <div class="account-box">
        <h2 class="text-center mb-4">Registar-se</h2>
        <form asp-action="Registar" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-3">
                <label asp-for="PrimeiroNome" class="form-label"></label>
                <input asp-for="PrimeiroNome" class="form-control" />
                <span asp-validation-for="PrimeiroNome" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Apelido" class="form-label"></label>
                <input asp-for="Apelido" class="form-control" />
                <span asp-validation-for="Apelido" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Email" class="form-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Password" class="form-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="ConfirmarPassword" class="form-label"></label>
                <input asp-for="ConfirmarPassword" class="form-control" />
                <span asp-validation-for="ConfirmarPassword" class="text-danger"></span>
            </div>
            <input type="submit" value="Registar" class="btn btn-success w-100 p-2" />
            <p class="text-center mt-2">
                Já possui uma conta? <a asp-controller="Conta" asp-action="Login" class="text-decoration-none">Login</a>
            </p>
            <div class="text-center">
                <a asp-controller="Home" asp-action="Index" class="text-decoration-none mt-3">Voltar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial.cshtml");
    }
}