@using ToDo.ViewModels;
@model VerificarEmailViewModel;

@{
    ViewData["Title"] = "Verificar Email";
    Layout = "~/Views/Shared/_ContaLayout.cshtml";
}

<div class="account-container">
    <div class="account-box">
        <h2 class="text-center mb-4">Verificar Email</h2>
        <form asp-action="VerificarEmail" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-3">
                <label asp-for="Email" class="form-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <input type="submit" value="Verificar" class="btn btn-success w-100 p-2" />
            <div class="text-center mt-2">
                <a asp-controller="Home" asp-action="Index" class="text-decoration-none mt-3">Voltar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial.cshtml");
    }
}