@{
    ViewData["Title"] = "Termos e Condições";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid px-4">
    <div class="card mt-4">
        <div class="card-header">
            <h1>Termos e Condições</h1>
        </div>
        <div class="card-body">
            <p>
                Bem-vindo ao nosso site. Ao continuar a navegar e utilizar este site, você concorda em cumprir e ser regido pelos seguintes termos e condições de uso.
            </p>
            <h2>Uso do Site</h2>
            <p>
                O conteúdo das páginas deste site é para sua informação geral e uso apenas. Ele está sujeito a alterações sem aviso prévio.
            </p>
            <h2>Privacidade</h2>
            <p>
                O uso de qualquer informação ou material neste site é inteiramente por sua conta e risco, pelo qual não seremos responsáveis. É sua responsabilidade garantir que quaisquer produtos, serviços ou informações disponíveis através deste site atendam às suas necessidades específicas.
            </p>
            <h2>Propriedade Intelectual</h2>
            <p>
                Este site contém material que é de nossa propriedade ou licenciado para nós. Este material inclui, mas não se limita a, design, layout, aparência e gráficos. A reprodução é proibida, exceto de acordo com o aviso de direitos autorais, que faz parte destes termos e condições.
            </p>
            <h2>Links para Outros Sites</h2>
            <p>
                De tempos em tempos, este site pode incluir links para outros sites. Esses links são fornecidos para sua conveniência para fornecer mais informações. Eles não significam que endossamos o(s) site(s). Não temos responsabilidade pelo conteúdo dos sites vinculados.
            </p>
            <h2>Alterações aos Termos</h2>
            <p>
                Podemos atualizar estes termos e condições periodicamente. Notificaremos você sobre quaisquer alterações publicando os novos termos e condições em nosso site.
            </p>
            <h2>Contato</h2>
            <p>
                Se você tiver alguma dúvida sobre estes termos e condições, entre em contato conosco.
            </p>
        </div>
    </div>
</div>
